name: Slack notification when review requested

on:
  pull_request:
      types: [opened, reopened, ready_for_review]

jobs:
  send-slack-webhook-by-6161990:
    if: ${{ github.actor }} == '6161990'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U03HF83L742>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-JeremyShin:
    if: ${{ github.actor }} == 'JeremyShin'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U03RJL2EH7G>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-JiwonDev:
    if: ${{ github.actor }} == 'JiwonDev'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U055KQ0C9EJ>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-Junuu:
    if: ${{ github.actor }} == 'Junuu'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U033L0WCKE1>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-khcho902:
    if: ${{ github.actor }} == 'khcho902'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U04M3J6AHAS>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-kji6252:
    if: ${{ github.actor }} == 'kji6252'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U0446HGG3TK>, 코드리뷰 요청이 도착했다.",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-moon9ua:
    if: ${{ github.actor }} == 'moon9ua'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U03EHKUTDD5>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-pado0:
    if: ${{ github.actor }} == 'pado0'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U03HTSNCV09>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-yeoonjae:
    if: ${{ github.actor }} == 'yeoonjae'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "<U03EVALAKHB>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }

  send-slack-webhook-by-hyeon9mak:
    if: ${{ github.actor }} == 'hyeon9mak'
    runs-on: ubuntu-latest
    steps:
      - name: auto assign assignee & reviewer
        uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers:

      - name: slack-send
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "channel": "#test-최현구",
              "username": "사이보그 현구막",
              "text": "https://github.com/mission-study-to-finish-in-15-days/kotlin-racingcar/pull/${{ github.event.pull_request.number }} <@U052TE3TKA5>",
              "icon_url": "https://opgg-static.akamaized.net/meta/images/lol/champion/Blitzcrank.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160&v=1690894796332"
            }